* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(pattern.jpg);
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}

header {
    margin: 50px;
    padding:50px;
    text-align: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    color: black;
    letter-spacing: 5px;
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 1px 1px 2px red;
}

h2 {
    padding:50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: black;
    letter-spacing: 5px;
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 1px 1px 2px red;
}

section {
    font-family: 'Merienda', cursive;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    margin: auto;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
}

section figure a img {
    max-width: 200px;
    max-height: 200px;
    transition: 0.3s all linear;
    border-radius: 7px;
    margin: 20px;
    padding: 20px;
}

section a {
    color: black;
    text-decoration: none;
}

section a:hover img {
    transform: scale(1.2);
}

section a figcaption {
    transition: 0.3s all linear;
    font-weight: 300;
}

section a:hover figcaption {
    color: rgb(4, 139, 154);
    letter-spacing: 1.2px;
    font-weight: 700;
}
